body{
    background-image: url("https://i.pinimg.com/originals/4a/65/ab/4a65abeead3a8d113bccfee5d5d239f4.gif");
    background-size: cover;
}
table {
    table-layout: fixed;
    width: 60%;
    margin-left: 25%;
    margin-right: 25%;
    border-collapse: collapse;
    border: 3px solid purple;
    background-color: blue;
  }
th,
td {
    padding: 10px;
    color: white;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.5)
        );
        border: 3px solid purple;
}
.Imagen{
    width: 150px !important;
    height: 150px !important;
}
.Jugador:hover{
    background-color: red ;
}
.Jugador:active {    
    background-color: purple ;

  }
.Elejido{
    background-color: red;
}